{% extends 'theme/base.html' %}
{% load thumbnail %}
{% block content %}
<section class="teacherInfo commonBody">
  <div class="container">
    <div class="commonHeding">
      <h1>Arabic Teachers</h1>
    </div>
    <div class="techerBody">
      {% for teacher in teachers %}
      <div class="tchrItemBox">
        <div class="tchrImg">
          {% thumbnail teacher.img "150x150" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
          {% endthumbnail %}
        </div>
        <div class="tchrText">
          <h2>{{ teacher.name }}</h2>
          <h3>{{ teacher.designation }}</h3>
          <p>{{ teacher.biography | safe | truncatechars:150}}</p>               
          <a href="{% url 'teacher-detail' teacher.pk %}">Read More...</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}