{% extends 'theme/base.html' %}
{% block content %}
<section class="commonBody schlClassDtls">
  <div class="container">
    <div class="commonHeding">
      <h1>Target: 50 Lakh Tk</h1>
    </div>
    <div class="classDtlsBody">
      <button class="accordion"><h1>1st stage for 4 years (2014 - 2017) & membership: 50 Tk <i class="fa fa-caret-down" aria-hidden="true"></i></h1></button>
      <div class="panel">
        <div class="panelText">
          <div class="stdntBox">
            <div class="stdntImg">
              <img src="images/student1.jpg" alt="">
            </div>
            <div class="stdntText">
              <h2>Mr. Johon Devide</h2>
              <h3>Roll No: 01</h3>
            </div>
          </div> 
        </div>
      </div>

      <button class="accordion"><h1>2nd stage for 4 years (2018 - 2021) & membership: 13,000 Tk<i class="fa fa-caret-down" aria-hidden="true"></i></h1></button>
      <div class="panel">
        <div class="panelText">
          <div class="stdntBox">
              <div class="stdntImg">
                <img src="images/student1.jpg" alt="">
              </div>
              <div class="stdntText">
                <h2>Mr. Johon Devide</h2>
                <h3>Roll No: 01</h3>
              </div>
          </div>  
        </div>
      </div>

      <button class="accordion"><h1>3rd stage for 5 years (2022 - 2026) & membership: 1,00000 Tk <i class="fa fa-caret-down" aria-hidden="true"></i></h1></button>
      <div class="panel">
        <div class="panelText">
          <div class="stdntBox">
            <div class="stdntImg">
              <img src="images/student1.jpg" alt="">
            </div>
            <div class="stdntText">
              <h2>Mr. Johon Devide</h2>
              <h3>Roll No: 01</h3>
            </div>
          </div>  
        </div>
      </div>

      <button class="accordion"><h1>4 rth stage for 4 years (2027 - 2030) & membership: 5,00000 Tk<i class="fa fa-caret-down" aria-hidden="true"></i></h1></button>
      <div class="panel">
        <div class="panelText">
            <div class="stdntBox">
              <div class="stdntImg">
                <img src="images/student1.jpg" alt="">
              </div>
              <div class="stdntText">
                <h2>Mr. Johon Devide</h2>
                <h3>Roll No: 01</h3>
              </div>
            </div>
        </div>
      </div>

      <button class="accordion"><h1>5th stage for 5 years (2031 - 2035) & membership: 15,00000 Tk<i class="fa fa-caret-down" aria-hidden="true"></i></h1></button>
      <div class="panel">
        <div class="panelText">
          <div class="stdntBox">
            <div class="stdntImg">
              <img src="images/student1.jpg" alt="">
            </div>
            <div class="stdntText">
              <h2>Mr. Johon Devide</h2>
              <h3>Roll No: 01</h3>
            </div>
          </div> 
        </div>
      </div>

      <button class="accordion"><h1>6th stage for 5 years (2036 - 2040) & membership: 30,00000 Tk<i class="fa fa-caret-down" aria-hidden="true"></i></h1></button>
      <div class="panel">
        <div class="panelText">
          <div class="stdntBox">
            <div class="stdntImg">
              <img src="images/student1.jpg" alt="">
            </div>
            <div class="stdntText">
              <h2>Mr. Johon Devide</h2>
              <h3>Roll No: 01</h3>
            </div>
          </div>  
        </div>
      </div>

      <button class="accordion"><h1>7th stage (2041) & membership: 50,00000 Tk<i class="fa fa-caret-down" aria-hidden="true"></i></h1></button>
      <div class="panel">
        <div class="panelText">
          <div class="stdntBox">
            <div class="stdntImg">
              <img src="images/student1.jpg" alt="">
            </div>
            <div class="stdntText">
              <h2>Mr. Johon Devide</h2>
              <h3>Roll No: 01</h3>
            </div>
          </div> 
        </div>
      </div>   
    </div>
  </div>
</section>
{% endblock %}