{% extends 'theme/base.html' %}
{% block content %}
<section class="commonBody schlClassDtls">
  <div class="container">
    <div class="commonHeding">
      <h1>Arabic Students Bacth-by-bacth</h1>
    </div>
    <div class="classDtlsBody">
      <a href="/teacher"><button class="accordion"><h1>1st Bacth Students (2006)<i class="fa fa-caret-down" aria-hidden="true"></i></h1></button></a>
      <div class="panel">
        <div class="panelText">
          <div class="stdntBox">
            <div class="stdntImg">
              <img src="images/student1.jpg" alt="">
            </div>
            <div class="stdntText">
              <h2>Mohammad Bayzid</h2>
                <h3>01</h3>
                <p>Description</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}