{% extends 'theme/base.html' %}
{% load thumbnail %}
{% block content %}
<section class="massagedetails commonBody">
  <div class="container">
    <div class="commonHeding">
      <h1>{{ teacher.name }} - Details</h1>
    </div>
    <div class="techerBody">
      <div class="tchrItemBox">
        <div class="tchrImg">
          {% thumbnail teacher.img "150x150" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
          {% endthumbnail %}
        </div>
        <div class="tchrText">
          <h2>{{ teacher.name }}</h2>
          <h3>{{ teacher.designation }}</h3>
          <p>{{ teacher.biography }}</p> 
        </div>
      </div> 
    </div>
  </div>
</section>
{% endblock %}