{% extends 'theme/base.html' %}
{% load thumbnail %}
{% block content %}
<section class="teacherInfo commonBody">
  <div class="container">
    <div class="commonHeding">
      <h1>MTM Authority</h1>
    </div>
    <div class="techerBody">
      {% for authority in authoritys %}
      <div class="tchrItemBox">
        <div class="tchrImg">
          {% thumbnail authority.img "150x150" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
          {% endthumbnail %}
        </div>
        <div class="tchrText">
          <h2>{{ authority.name }}</h2>
          <h3>{{ authority.designation }}</h3>
          <p>{{ authority.description | safe | truncatechars:150 }}</p> 
          <a href="{% url 'authority-detail' authority.pk %}">Read More...</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}