{% extends 'theme/base.html' %}
{% block content %}
<section class="commonBody schlClassDtls">
  <div class="container">
    <div class="commonHeding">
      <h1>MTM Award</h1>
    </div>
    <div class="classDtlsBody">
    <button class="accordion"><h1>1. List of people who have been gotten MTM award in 2017<i class="fa fa-caret-down" aria-hidden="true"></i></h1></button>
      <div class="panel">
        <div class="panelText">
          <div class="stdntBox">
            <div class="stdntImg">
              <img src="images/student1.jpg" alt="">
            </div>
            <div class="stdntText">
              <h2>name</h2>
              <p>Description</p>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</section>
{% endblock %}