{% extends 'dashboard/dashboard_base.html' %}
{% block content %} 
<!--============ Main Contant Section ========-->
<div class="mainContant">
<!--============ Main Contant Body Section ========-->
    <div class="contBody">
       <div class="dsbrdAside">
            <div class="dsAsideCont">
                <span>
                    <h1>41</h1>
                    <h3>MTM Members</h3>
                    <h4>MTM Members Added</h4>
                    <strong>
                        <a href="#">
                           <i class="fa fa-search-plus" aria-hidden="true"></i>
                        </a>
                    </strong>
                </span>
                <i class="fa fa-child" aria-hidden="true"></i>
            </div>
            
            <div class="dsAsideCont">
                <span>
                    <h1>12</h1>
                    <h3>MTM Authority</h3>
                    <h4>MTM Authority Added</h4>
                    <strong>
                        <a href="#">
                           <i class="fa fa-search-plus" aria-hidden="true"></i>
                        </a>
                    </strong>
                </span>
                <i class="fa fa-user-secret" aria-hidden="true"></i>
            </div>
            
            <div class="dsAsideCont">
                <span>
                    <h1>27</h1>
                    <h3>MTM Rules</h3>
                    <h4>MTM Rules Added</h4>
                    <strong>
                        <a href="#">
                           <i class="fa fa-search-plus" aria-hidden="true"></i>
                        </a>
                    </strong>
                </span>
                <i class="fa fa-user" aria-hidden="true"></i>
            </div>
        </div>
        <div class="dsbrdCont">
            <div class="calender">
                <img src="/static/dashboard/images/calender.JPG" alt="">
            </div>

            <div class="dsAsideCont">
                <span>
                    <h1>120</h1>
                    <h3>Arabic Students</h3>
                    <h4>Arabic Students Added</h4>
                    <strong>
                        <a href="#">
                           <i class="fa fa-search-plus" aria-hidden="true"></i>
                        </a>
                    </strong>
                </span>
                <i class="fa fa-child" aria-hidden="true"></i>
            </div>

            <div class="dsAsideCont">
                <span>
                    <h1>9</h1>
                    <h3>Arabic Teachers</h3>
                    <h4>Arabic Teachers Added</h4>
                    <strong>
                        <a href="#">
                           <i class="fa fa-search-plus" aria-hidden="true"></i>
                        </a>
                    </strong>
                </span>
                <i class="fa fa-child" aria-hidden="true"></i>
            </div>

            <div class="dsAsideCont">
                <span>
                    <h1>15</h1>
                    <h3>MTM Shayekh</h3>
                    <h4>Arabic Shayekh Added</h4>
                    <strong>
                        <a href="#">
                           <i class="fa fa-search-plus" aria-hidden="true"></i>
                        </a>
                    </strong>
                </span>
                <i class="fa fa-child" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
{% endblock %}