{% extends 'dashboard/dashboard_base.html' %}
{% block content %}
<!--============ Main Contant Section ========-->
<div class="mainContant">  
<!--============ Main Contant Body Section ========-->
    <div class="contBody homeBody">
        <section class="header">
            <div class="headerBody bannerBody">
               <h2>Arabic History</h2>
                <form action="">
                    <div class="input"><input type="text" placeholder="Arabic History Title : About Arabic" required=""></div>
                    <div class="input"><textarea name="" placeholder="Arabic History Description :"></textarea></div>
                    <div class="button"><button type="submit">Save</button></div>
                </form>
            </div>
        </section> 
    </div>
</div>
{% endblock %}