{% extends 'dashboard/dashboard_base.html' %}
{% block content %}
<!--============ Main Contant Section ========-->
<div class="mainContant">
<!--============ Main Contant Body Section ========-->
  <div class="contBody homeBody">
    <section class="header">
      <div class="headerBody bannerBody">
        <h2>MTM History</h2>
        <form action="">
          <div class="input"><input type="text" placeholder="MTM History Title : MTM" required=""></div>
          <div class="input"><textarea name="" placeholder="MTM History Description :"></textarea></div>
          <div class="button"><button type="submit">Save</button></div>
        </form>
      </div>
    </section> 
  </div>
</div>
{% endblock %}