{% extends 'theme/base.html' %}
{% block content %}
<main>
  <!--============ Banner Section========-->
  <section id="home" class="banner">
      <div class="container">
          <div class="bannrBg">
                <span></span>
                <span></span>
                <span></span>
                <div class="cercleWrap">
                    <div class="circule">
                        <div class="bnrImg"><img src="/static/theme/images/curton1.png" alt=""></div>
                        <div class="bnrImg"><img src="/static/theme/images/curton4.png" alt=""></div>
                        <div class="bnrImg"><img src="/static/theme/images/curton5.png" alt=""></div>
                    </div>
                </div>
          </div>
            <div class="bannerBody">
                <h1 class="wow fadeInUp">MTM</h1>
                <h3 class="wow fadeInUp">MTM : মুআসসাতুত তানমিয়াতুল মালিয়াহ</h3>
                <p class="wow fadeInUp">ঢাকা মেডিকেল,ফজলে রাব্বি হলের ঠিক পুর্বে।,বেগম বদরুন্নেসা কলেজের একটু পিছনে,আর আমার হলের বা রুমের জানালার অর্ধ ভগ্ন গিরিলে দু হস্ত আকরিয়ে খানিক সামনে তাকালেই চোখে পরে এই বৃহৎ ভবনটি।।।দ্বীর্ঘ তিন বছর অনুসন্ধান পর আজ জানতে পারলাম এটির মালিক ৪২ জন! তাদেরো ছোট্ট একটি সংগঠন ছিলো,এখন অনেক বড়!!!!!।।।আমরাওতো এম,টি,এম - এ প্রায় ৪২জন!!স্বপ্নতো দেখতেই পারি কী বলো?????</p>
                <a href="/member" class="wow fadeInUp">MTM Members<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
      </div>
  </section>
  
  <!--============ Calender Section========-->
  <section class="calender">
      <div class="calendereBox">
         <h2>Calender</h2>
          <div class="calenderInner">
              <h2>Calender</h2>
              <div class="calenderBody">
                  <img src="/static/theme/images/calender.png" alt="">
              </div>
            </div>
      </div>
  </section>
  
   <!--============ About Section========-->
   <section id="about" class="about">
       <div class="container">
         <div class="commonHeding">
             <h1>About Arabic</h1>
         </div>
           <div class="abContent">
               <div class="wow fadeInUp abBoxLft">
                   <img src="/static/theme/images/school2.png" alt="">
               </div>
               <div class="wow fadeInUp abBoxrght">
                   <p>
                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br> <br>
                     
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br> <br>
                       Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                       Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                       Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                       Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  
                   </p>
               </div>
           </div>
       </div>
   </section>
   
   <!--============ Notice Section========-->
   <section id="notice" class="notice">
       <div class="container">
          <div class="tchrBg1 noticeBg">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
          </div>
           <div class="noticeBody">
               <div class="commonHeding">
                 <h1>MTM Notice Bord</h1>
             </div>
               <div class="wow fadeInUp noticeBox">
                   <div class="wow fadeInUp noticeInner noticeInner1">
                       <div class="ntcInnrBody">
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type </p>
                       </div>
                   </div>
                   <div class="wow fadeInUp noticeInner noticeInner2">
                       <div class="ntcInnrBody">
                           <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,</p>
                       </div>
                   </div>
                   <div class="wow fadeInUp noticeInner noticeInner3">
                       <div class="ntcInnrBody">
                           <p>Survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
                       </div>
                   </div>
                   <div class="wow fadeInUp noticeInner noticeInner4">
                       <div class="ntcInnrBody">
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley </p>
                       </div>
                   </div>
                   <div class="moreNotice">
                       <a href="notice.html">See More...</a>
                   </div>
               </div>
           </div>
       </div>
   </section>
   
   <!--============ Reputation Section========-->
   <section id="service" class="reputation">
       <div class="container">
         <div class="commonHeding">
             <h1>Arabic Campu</h1>
         </div>
           <div class="rpttnBox">
               <div class="wow fadeInUp rpttnInner">
                   <div class="img"><img src="/static/theme/images/repotation-img1.png" alt=""></div>
                    <div class="rpttnText">
                        <h3>Transport</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
               </div>
               <div class="wow fadeInUp rpttnInner">
                   <div class="img"><img src="/static/theme/images/repotation-img2.png" alt=""></div>
                    <div class="rpttnText">
                        <h3>Play Ground</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
               </div>
               <div class="wow fadeInUp rpttnInner">
                   <div class="img"><img src="/static/theme/images/repotation-img3.png" alt=""></div>
                    <div class="rpttnText">
                        <h3>Library</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
               </div>
               <div class="wow fadeInUp rpttnInner">
                   <div class="img"><img src="/static/theme/images/repotation-img4.png" alt=""></div>
                    <div class="rpttnText">
                        <h3>Canteen</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    </div>
               </div>
           </div>
       </div>
   </section>
   
   <!--============ Teacher Diallog Section========-->
   <section class="tchrDillg">
       <div class="container">
         <div class="commonHeding">
             <h1>MTM Authority Massege</h1>
         </div>
           <div class="tchrBg1">
               <span></span>
               <span></span>
               <span></span>
               <span></span>
               <span></span>
               <span></span>
           </div>
           <div class="wow fadeInUp headMaster">
               <div class="techerBody">
                  <div class="tchrItemBox">
                      <div class="tchrImg">
                          <img src="/static/theme/images/governing.jpg" alt="">
                      </div>
                      <div class="tchrText">
                         <h2>Mr. Johon Devide</h2>
                          <h3>Designation</h3>
                          <p>
                             Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
                          </p>
                          <a href="massege-detail.html">Read More...</a>
                      </div>
                  </div>

                  <div class="tchrItemBox">
                      <div class="tchrImg">
                          <img src="/static/theme/images/teacher.jpg" alt="">
                      </div>
                      <div class="tchrText">
                         <h2>Mr. Johon Devide</h2>
                          <h3>Designation</h3>
                          <p>
                             Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
                          </p>
                          <a href="massege-detail.html">Read More...</a>
                      </div>
                  </div>

                  <div class="tchrItemBox">
                      <div class="tchrImg">
                          <img src="/static/theme/images/teacher2.jpg" alt="">
                      </div>
                      <div class="tchrText">
                         <h2>Mr. Johon Devide</h2>
                          <h3>Designation</h3>
                          <p>
                             Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
                          </p>
                          <a href="massege-detail.html">Read More...</a>
                      </div>
                  </div>
              </div>
           </div>
       </div>
   </section>
   
   <!--============ Parents Section========-->

       <section id="review" class="parents">
       <div class="container">
           <div class="parntBg">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
               
           </div>
          <div class="parentCont">
             <div class="commonHeding">
                 <h1>Parents Feedback</h1>
             </div>
               <div class="wow fadeInUp parntBox">
                   <div class="innerBox innerBox1">
                       <div class="parntInner">
                          <div class="prntShape prntShape1"></div>
                           <h3>Mr. John</h3>
                           <span>Founder, <strong>John Group</strong></span>
                           <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <div class="readMore"><a href="feedback.html">Read More...</a></div>
                       </div>

                       <div class="parntInner">
                           <div class="prntShape prntShape2"></div>
                           <h3>Mr. John</h3>
                           <span>Founder, <strong>John Group</strong></span>
                           <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                           <div class="readMore"><a href="feedback.html">Read More...</a></div>
                       </div>
                   </div>
                   
                   <div class="innerBox innerBox2">
                       <div class="parntInner">
                           <div class="prntShape prntShape3"></div>
                           <h3>Mr. John</h3>
                           <span>Founder, <strong>John Group</strong></span>
                           <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <div class="readMore"><a href="feedback.html">Read More...</a></div>
                       </div>

                       <div class="parntInner">
                           <div class="prntShape prntShape4"></div>
                           <h3>Mr. John</h3>
                           <span>Founder, <strong>John Group</strong></span>
                           <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <div class="readMore"><a href="feedback.html">Read More...</a></div>
                       </div>
                   </div>
               </div>
               <div class="parentLink">
                   <a href="feedback.html">Parents <i class="fa fa-angle-right"></i></a>
               </div>
          </div>
       </div>
   </section>

   <!--============ Contact Us Section========-->
  <section id="contact" class="contact">
    <div class="container">
      <div class="contBg">
        <span></span>
        <span></span>  
        <span></span>
      </div>
      <div class="contWrwp">
        <div class="wow fadeInUp contItem contItem1">
          <h4>Quick Links</h4>
          <nav class="ftrNav">
            <ul>
              <li><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Home</a></li>
              <li><a href="/history"><i class="fa fa-angle-right" aria-hidden="true"></i>About Arabic</a></li>
              <li><a href="/mtmhistory"><i class="fa fa-angle-right" aria-hidden="true"></i>About MTM</a></li>
              <li><a href="#!"><i class="fa fa-angle-right" aria-hidden="true"></i>Blog</a></li>
            </ul>
            <ul>
              <li><a href="/authority"><i class="fa fa-angle-right" aria-hidden="true"></i>MTM Authority</a></li>
              <li><a href="/member"><i class="fa fa-angle-right" aria-hidden="true"></i>MTM Members</a></li>
              <li><a href="notice/notice-list"><i class="fa fa-angle-right" aria-hidden="true"></i> MTM Notices </a></li>
              <li><a href="/gallery"><i class="fa fa-angle-right" aria-hidden="true">
              </i>Gallery</a></li>
            </ul>
          </nav>
        </div>
        <div class="wow fadeInUp contItem contItem2">
          <h4>Contact Us</h4>
          <strong><span><i class="fa fa-phone" aria-hidden="true"></i></span>MTM Number: 01779-055243</strong>
          <strong><span><i class="fa fa-phone" aria-hidden="true"></i></span>MTM Cashier Number: 01758-267795</strong>
          <strong><span><i class="fa fa-phone" aria-hidden="true"></i></span>MTM President Number: 01726-488559</strong>
          <strong><span><i class="fa fa-envelope" aria-hidden="true"></i></span> arabic@mtm.com</strong>
          <p><span><i class="fa fa-map-marker" aria-hidden="true"></i>  </span>Gazipur, Dhaka, Bangladesh</p>
        </div>         
        <div class="wow fadeInUp contItem contItem3">
          <h4>Follow Us</h4>
          <div class="socialIcon">
            <a href="https://www.facebook.com/groups/Arabicmodel/"><i class="fa fa-facebook" aria-hidden="true"></i>এরাবিক মডেল একাডেমী</a>

            
          </div>
        </div>
      </div>
    </div>
  </section>
</main>      
 {% endblock %}
