{% extends 'theme/base.html' %}
{% load thumbnail %}
{% block content %}
<main>
  <!--============ Banner Section========-->
  <section id="home" class="banner">
      <div class="container">
          <div class="bannrBg">
                <span></span>
                <span></span>
                <span></span>
                <div class="cercleWrap">
                    <div class="circule">
                        <div class="bnrImg"><img src="/static/theme/images/" alt=""></div>
                        <div class="bnrImg"><img src="/static/theme/images/" alt=""></div>
                        <div class="bnrImg"><img src="/static/theme/images/.png" alt=""></div>
                    </div>
                </div>
          </div>

          <!--=====================================================================
            <div class="bannerBody">
                <h1 class="wow fadeInUp">MTM</h1>
                <h3 class="wow fadeInUp">MTM : মুয়াসসাসাতুত তানমিয়াতুল মালিয়্যাহ</h3>
                <p class="wow fadeInUp">ঢাকা মেডিকেল,ফজলে রাব্বি হলের ঠিক পুর্বে।,বেগম বদরুন্নেসা কলেজের একটু পিছনে,আর আমার হলের বা রুমের জানালার অর্ধ ভগ্ন গিরিলে দু হস্ত আকরিয়ে খানিক সামনে তাকালেই চোখে পরে এই বৃহৎ ভবনটি।।।দ্বীর্ঘ তিন বছর অনুসন্ধান পর আজ জানতে পারলাম এটির মালিক ৪২ জন! তাদেরো ছোট্ট একটি সংগঠন ছিলো,এখন অনেক বড়!!!!!।।।আমরাওতো এম,টি,এম - এ প্রায় ৪২জন!!স্বপ্নতো দেখতেই পারি কী বলো?????</p>
                <a href="/member" class="wow fadeInUp">MTM Members<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
      ============================================================================-->

            <div class="bannerBody">
                <h1 class="wow fadeInUp">{{ home.mtm_name }}</h1>
                <h3 class="wow fadeInUp">{{ home.mtm_meaning }}</h3>
                <p class="wow fadeInUp">{{ home.mtm_history }}</p>
                <a href="/member" class="wow fadeInUp">MTM Members<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>

            <!--============================================================
             <div class="bannerBody">
                <h1 class="wow fadeInUp">MTM</h1>
                <h3 class="wow fadeInUp">MTM : মুয়াসসাসাতুত তানমিয়াতুল মালিয়্যাহ</h3>
                <p class="wow fadeInUp">ঢাকা মেডিকেল,ফজলে রাব্বি হলের ঠিক পুর্বে।,বেগম বদরুন্নেসা কলেজের একটু পিছনে,আর আমার হলের বা রুমের জানালার অর্ধ ভগ্ন গিরিলে দু হস্ত আকরিয়ে খানিক সামনে তাকালেই চোখে পরে এই বৃহৎ ভবনটি।।।দ্বীর্ঘ তিন বছর অনুসন্ধান পর আজ জানতে পারলাম এটির মালিক ৪২ জন! তাদেরো ছোট্ট একটি সংগঠন ছিলো,এখন অনেক বড়!!!!!।।।আমরাওতো এম,টি,এম - এ প্রায় ৪২জন!!স্বপ্নতো দেখতেই পারি কী বলো?????</p>
                <a href="/member" class="wow fadeInUp">MTM Members<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
            ================================================================-->
      </div>
  </section>
  
  <!--============ Calender Section========-->
  <section class="calender">
      <div class="calendereBox">
         <h2>Calender</h2>
          <div class="calenderInner">
              <h2>Calender</h2>
              <div class="calenderBody">
                  <img src="/static/theme/images/calender.png" alt="">
              </div>
            </div>
      </div>
  </section>
  
   <!--============ About Section========-->
   <section id="about" class="about">
       <div class="container">
         <div class="commonHeding">
             <h1>About Arabic</h1>
         </div>
           <div class="abContent">
               <div class="wow fadeInUp abBoxLft">
                   <img src="/static/theme/images/mosque.jpg" alt="">
               </div>
               <div class="wow fadeInUp abBoxrght">
                  <p>{{ home.arabic_history }}</p>  
               </div>
           </div>
       </div>
   </section>
   
   <!--============ Notice Section========-->

   <!--===============================================================
       <section id="notice" class="notice">
       <div class="container">
          <div class="tchrBg1 noticeBg">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
          </div>
           <div class="noticeBody">
               <div class="commonHeding">
                 <h1>MTM Notice Bord</h1>
             </div>
               <div class="wow fadeInUp noticeBox">
                   <div class="wow fadeInUp noticeInner noticeInner1">
                       <div class="ntcInnrBody">
                           <p>MTM এর সর্বমোট মূল টাকার পরিমান (154600 + 340000) 4,94,600 
(চার লক্ষ চৌরা নব্বই হাজার ছয় শত) টাকা মাত্র। </p>
                       </div>
                   </div>
                   <div class="wow fadeInUp noticeInner noticeInner2">
                       <div class="ntcInnrBody">
                           <p>আজ বাদে কাল আমাদের পূনর্মিলনি অনুষ্ঠানে এরাবিকে আগমনী ভাইদের একটা বিশেষ অনুরোধ করতে এলাম।
কারো কাছে যদি তা'লিমুল মুহাদাসা বইগুলোর কোন খন্ড থাকে,দয়া করে একটু নিয়ে আসলে আমার খুব উপকার হত।
আমি ফটোকপি করে নিয়ে নিতাম।
আর প্লিজ ভাই, সবাই আসো।সারা বছরতো ব্যাস্ততা থাকে, দুদিনের জন্য একটু স্যাকরিফাইজ কি করা যায়না????????????</p>
                       </div>
                   </div>
                   <div class="wow fadeInUp noticeInner noticeInner3">
                       <div class="ntcInnrBody">
                           <p>ভাবেত বুঝতাছি সব বেদমারাই আইবি ৷ আমিও চাই তরা আয় ৷ তরাযে বিয়ার লায়েক অইছচ এইডা মোডামোডি হগলেই জানে ৷ এর লাগি কোন মুহাদাছার দরকার নাই ৷ পারলে দুই চার জনে বউ লইয়া আয় ৷ শীত অনেক বেশী তরাত যাবার সময় লেপ তোষক সবই মনে হয় নিয়ে গেছচ তাই কিছু ছামানা নিয়া আসবি ওলামাদের এই মিটিং এ ৷ এখানে সা-দীদের জায়গা নাই ৷

</p>
                       </div>
                   </div>
                   <div class="wow fadeInUp noticeInner noticeInner4">
                       <div class="ntcInnrBody">
                           <p>"বসন্ত এলো এলো এলো রে
পঞ্চম স্বরে কোকিল কুহরে
মুহু মুহু কুহু কুহু তানে"

কলাফাইট্টা- হরকার পাড়ার আংগো ইমাম সাহেব হুজুরের নিমন্ত্রণে সেদিন অবধি আজ পাগলা নজরুলের কাব্যোদ্যানে হলদে প্রজাপতি র উন্মুখ উড়াউড়ি আমার সমস্তটায় চঞ্চল হয়ে উঠছে৷৷৷প্রসংগক্রমেই কাব্যিক মনে ছান্দিক বিন্যাসের কি যে অন্তমিলের গুন্জুরি!! কি করে বুঝাই!!...</p>
                       </div>
                   </div>
                   <div class="moreNotice">
                       <a href="notice/notice-list">See More...</a>
                   </div>
               </div>
           </div>
       </div>
   </section>
    ==========================================================-->

<section id="notice" class="notice">
   <div class="container">
      <div class="tchrBg1 noticeBg">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
      </div>
       <div class="noticeBody">
           <div class="commonHeding">
             <h1>MTM Notice Board</h1>
         </div>
           <div class="wow fadeInUp noticeBox">
              {% for notice in notices %}
               <div class="wow fadeInUp noticeInner noticeInner1">
                   <div class="ntcInnrBody">
                       <a href="{% url 'notice-details' notice.pk %}">
                          <p>{{ notice.description|truncatechars:250 }}</p>
                       </a>
                   </div>
               </div>
              {% endfor %}
               <div class="moreNotice">
                   <a href="/notice/notice-list">See More...</a>
               </div>
           </div>
       </div>
   </div>
</section>

   <!--============ Reputation Section========-->

   <!--====================================
    <section id="service" class="reputation">
       <div class="container">
         <div class="commonHeding">
             <h1>Arabic Campus</h1>
         </div>
           <div class="rpttnBox">
               <div class="wow fadeInUp rpttnInner">
                   <div class="img"><img src="/static/theme/images/repotation-img1.png" alt=""></div>
                    <div class="rpttnText">
                        <h3>Hostel</h3>
                        <p>বাংলা ভাষায় রচিত সাহিত্যের আদিতম নিদর্শন হল চর্যাপদ। খ্রিষ্টীয় দশম থেকে দ্বাদশ শতাব্দীর মধ্যবর্তী সময়ে রচিত চর্যা পদাবলি ছিল সহজিয়া বৌদ্ধ</p>
                    </div>
               </div>
               <div class="wow fadeInUp rpttnInner">
                   <div class="img"><img src="/static/theme/images/repotation-img2.png" alt=""></div>
                    <div class="rpttnText">
                        <h3>Play Ground</h3>
                        <p>আপনি শুধু অন্যের লেখা পড়ছেন, আপনিও জানেন অনেক কিছু, সেগুলো প্রকাশ করারও আপনার ভিষণ ইচ্ছে, কিন্তু বাংলা </p>
                    </div>
               </div>
               <div class="wow fadeInUp rpttnInner">
                   <div class="img"><img src="/static/theme/images/repotation-img3.png" alt=""></div>
                    <div class="rpttnText">
                        <h3>Class room</h3>
                        <p>কিভাবে লিখি? তার উপর যারা ল্যাপটপ ব্যবহার করেন তাদের তো আবার অন্য সমস্যা, বাংলা কী-বোর্ড-ই নাই। এরকম সমস্যা </p>
                    </div>
               </div>
               <div class="wow fadeInUp rpttnInner">
                   <div class="img"><img src="/static/theme/images/repotation-img4.png" alt=""></div>
                    <div class="rpttnText">
                        <h3>Canteen</h3>
                        <p>বাংলা লিখতে স্বাচ্ছন্দ্য বোধ করেন। আর ব্লগ সাইটগুলোয় বাংলা লেখার ধুম তো লেগেই আছে।মনের ভাবটি ঠিকমতো প্রকাশ </p>
                    </div>
               </div>
           </div>
       </div>
   </section>
    ====================================-->


 <section id="service" class="reputation">
     <div class="container">
       <div class="commonHeding">
           <h1>Arabic Campus</h1>
       </div>
         <div class="rpttnBox">

          {% for facility in facilities %}
            
             <div class="wow fadeInUp rpttnInner">
                 <div class="img"><img src="/media/{{facility.image}}" alt=""></div>
                  <div class="rpttnText">
                    <a href="facility-detail/{{facility.id}}"><h3>{{ facility.name }}</h3></a>
                     <p>{{ facility.description |truncatechars:300 }} </p>
                  </div>
             </div>
             {% endfor %}
         </div>
     </div>
 </section>


   <!--============ Teacher Diallog Section========-->

   <section class="tchrDillg">
       <div class="container">
         <div class="commonHeding">
             <h1>MTM Authority Massege</h1>
         </div>
           <div class="tchrBg1">
               <span></span>
               <span></span>
               <span></span>
               <span></span>
               <span></span>
               <span></span>
           </div>
           <div class="wow fadeInUp headMaster">
               <div class="techerBody">
               {% for message in messages %}
                  <div class="tchrItemBox">
                      <div class="tchrImg">
          {% thumbnail message.img "150x150" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
          {% endthumbnail %}
        </div>
                      <div class="tchrText">
                        <a href="/massege-detail/{{message.pk}}">
                        <h2>{{ message.name }}</h2></a>
                      <h3>{{ message.designation }}</h3>
                         <p>{{ message.description|truncatechars:250 }}</p>
                    <a href="url 'authority-detail' authority.pk">Read More...</a>
                      </div>
                  </div>
                {% endfor %}
              </div>
           </div>
       </div>
   </section>

<!--============================================
  <section id="review" class="parents">
       <div class="container">
           <div class="parntBg">
              <span></span>
              <span></span>
              <span></span>
              <span></span>   
           </div>
          <div class="parentCont">
             <div class="commonHeding">
                 <h1>Parents Feedback</h1>
             </div>
               <div class="wow fadeInUp parntBox">
                   <div class="innerBox innerBox1">
                      {% for feedback in feedbacks %}
                       <div class="parntInner">
                          <div class="prntShape prntShape1"></div>
                            <h3>{{feedback.name}}</h3></a>
                             <p>{{feedback.description}}</p>
                       </div>
                      {% endfor %}
                   </div>
               </div>
               <div class="parentLink">
                   <a href="/feedback-list">See more <i class="fa fa-angle-right"></i></a>
               </div>
          </div>
       </div>
   </section>-->
  <!--======================================= 

   <section id="service" class="reputation">
       <div class="container">
         <div class="commonHeding">
             <h1>Arabic Campus</h1>
         </div>
           <div class="rpttnBox">
               <div class="wow fadeInUp rpttnInner">
                   <div class="img"><img src="/static/theme/images/repotation-img1.png" alt=""></div>
                    <div class="rpttnText">
                        <h3>Hostel</h3>
                        <p>বাংলা ভাষায় রচিত সাহিত্যের আদিতম নিদর্শন হল চর্যাপদ। খ্রিষ্টীয় দশম থেকে দ্বাদশ শতাব্দীর মধ্যবর্তী সময়ে রচিত চর্যা পদাবলি ছিল সহজিয়া বৌদ্ধ</p>
                    </div>
               </div>
               <div class="wow fadeInUp rpttnInner">
                   <div class="img"><img src="/static/theme/images/repotation-img2.png" alt=""></div>
                    <div class="rpttnText">
                        <h3>Play Ground</h3>
                        <p>আপনি শুধু অন্যের লেখা পড়ছেন, আপনিও জানেন অনেক কিছু, সেগুলো প্রকাশ করারও আপনার ভিষণ ইচ্ছে, কিন্তু বাংলা </p>
                    </div>
               </div>
               <div class="wow fadeInUp rpttnInner">
                   <div class="img"><img src="/static/theme/images/repotation-img3.png" alt=""></div>
                    <div class="rpttnText">
                        <h3>Class room</h3>
                        <p>কিভাবে লিখি? তার উপর যারা ল্যাপটপ ব্যবহার করেন তাদের তো আবার অন্য সমস্যা, বাংলা কী-বোর্ড-ই নাই। এরকম সমস্যা </p>
                    </div>
               </div>
               <div class="wow fadeInUp rpttnInner">
                   <div class="img"><img src="/static/theme/images/repotation-img4.png" alt=""></div>
                    <div class="rpttnText">
                        <h3>Canteen</h3>
                        <p>বাংলা লিখতে স্বাচ্ছন্দ্য বোধ করেন। আর ব্লগ সাইটগুলোয় বাংলা লেখার ধুম তো লেগেই আছে।মনের ভাবটি ঠিকমতো প্রকাশ </p>
                    </div>
               </div>
           </div>
       </div>
   </section>
   ==========================-->

   <!--============ Teacher Diallog Section========
   <section class="tchrDillg">
       <div class="container">
         <div class="commonHeding">
             <h1>MTM Authority Massege</h1>
         </div>
           <div class="tchrBg1">
               <span></span>
               <span></span>
               <span></span>
               <span></span>
               <span></span>
               <span></span>
           </div>
           <div class="wow fadeInUp headMaster">
               <div class="techerBody">
                  <div class="tchrItemBox">
                      <div class="tchrImg">
                          <img src="/static/theme/images/sdshoriot.jpg" alt="">
                      </div>
                      <div class="tchrText">
                         <h2>Hm Shoriot ullah</h2>
                          <h3>President</h3>
                          <p>
                             দিন দিন জনপ্রিয় হচ্ছে ওয়েবে বাংলা লেখা। এখন দেখা যায়, ফেসবুকে অনেকে বাংলা লিখতে স্বাচ্ছন্দ্য বোধ করেন। আর ব্লগ সাইটগুলোয় বাংলা লেখার ধুম তো লেগেই আছে।
                          </p>
                          <a href="massege-detail.html">Read More...</a>
                      </div>
                  </div>

                  <div class="tchrItemBox">
                      <div class="tchrImg">
                          <img src="/static/theme/images/hujur.jpg" alt="">
                      </div>
                      <div class="tchrText">
                         <h2>Md Aminul Hoque Bhuiyan</h2>
                          <h3>Pristoposhok</h3>
                          <p>
                             মনের ভাবটি ঠিকমতো প্রকাশ করতে ব্লগে জনপ্রিয় হচ্ছে বাংলা লেখা। কিন্তু এ ক্ষেত্রে যাঁরা একেবারেই নতুন, তাঁরা বাংলা লেখার নিয়মকানুন ঠিক মতো জানেন না।
                          </p>
                          <a href="massege-detail.html">Read More...</a>
                      </div>
                  </div>

                  <div class="tchrItemBox">
                      <div class="tchrImg">
                          <img src="/static/theme/images/akhter.jpg" alt="">
                      </div>
                      <div class="tchrText">
                         <h2>Hm Akter Hossain</h2>
                          <h3>Uddogta</h3>
                          <p>
                             আবার কম্পিউটারে ইনস্টল করার বিষয়ও অনেকের অজানা। ফলে ইচ্ছা থাকলেও আর বাংলা লেখা হয়ে ওঠে না। ব্লগ বা সামাজিক যোগাযোগের সাইটগুলোতে বাংলা লেখাকে 
                          </p>
                          <a href="massege-detail.html">Read More...</a>
                      </div>
                  </div>
              </div>
           </div>
       </div>
   </section>==================-->
   
   <!--============ Parents Section========-->

       <section id="review" class="parents">
       <div class="container">
           <div class="parntBg">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
               
           </div>
          <div class="parentCont">
             <div class="commonHeding">
                 <h1>Your Comments</h1>
             </div>
               <div class="wow fadeInUp parntBox">
                   <div class="innerBox innerBox1">
                       <div class="parntInner">
                          <div class="prntShape prntShape1"></div>
                           <h3>Md Aminul Hoque Bhuiyan</h3>
                           <p>তোরা আর বকিসনা ৷ যাএী এখন রেলে ওঠে গেছে ৷ প্লাটফরমে সে আর থাকবেনা ৷ জীবনে যখন শতকোটীর বাস্তবতা এসে যাবে তখন কিন্তু অন্যের মত অনাহারী আধাহারীদেরকে ভুলিসনা ৷ হা রাতের মুসাফিরগন শেষ বিকালেই প্রস্তুত গ্রহন করে ৷</p>
                            <div class="readMore"><a href="feedback.html">Read More...</a></div>
                       </div>

                       <div class="parntInner">
                           <div class="prntShape prntShape2"></div>
                           <h3>Jikrullah Jifan</h3>
                           <p>jak...oboseshe sobar prosner uchit jobab diye nijeke bitorker urdhe rakhlen akhtar vai...sabash...apadoto r keu kicchu bolte parchena.....</p>
                           <div class="readMore"><a href="feedback.html">Read More...</a></div>
                       </div>
                   </div>
                   
                   <div class="innerBox innerBox2">
                       <div class="parntInner">
                           <div class="prntShape prntShape3"></div>
                           <h3>Akter Hossain</h3>
                           <p>এর চেয়ে উপদেশমূলক বড় দোয়া আর হয়না!!!!!
اللهم تقبل مناجةاستاذي لي ولنا</p>
                            <div class="readMore"><a href="feedback.html">Read More...</a></div>
                       </div>

                       <div class="parntInner">
                           <div class="prntShape prntShape4"></div>
                           <h3>আবীর আর সুভাষ</h3>
                           <p>"অর্ধহার আর অনাহারের এই ছাত্রত্ব প্রায় ডুবু ডুবু!সম্ভাবনার ভবিষ্যৎ আমাকে শত কোটি স্বপ্ন দেখায়,সম্ভাবনা অবশ্যম্ভবী"
ওয়াই! কি চমৎকার অনুভূতি!</p>
                            <div class="readMore"><a href="feedback.html">Read More...</a></div>
                       </div>
                   </div>
               </div>
               <div class="parentLink">
                   <a href="/feedback">Comment<i class="fa fa-angle-right"></i></a>
               </div>
          </div>
       </div>
   </section>

   <!--============ Contact Us Section========-->
  <section id="contact" class="contact">
    <div class="container">
      <div class="contBg">
        <span></span>
        <span></span>  
        <span></span>
      </div>
      <div class="contWrwp">
        <div class="wow fadeInUp contItem contItem1">
          <h4>Quick Links</h4>
          <nav class="ftrNav">
            <ul>
              <li><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Home</a></li>
              <li><a href="/history"><i class="fa fa-angle-right" aria-hidden="true"></i>About Arabic</a></li>
              <li><a href="/mtmhistory"><i class="fa fa-angle-right" aria-hidden="true"></i>About MTM</a></li>
              <li><a href="#!"><i class="fa fa-angle-right" aria-hidden="true"></i>Blog</a></li>
            </ul>
            <ul>
              <li><a href="/authority"><i class="fa fa-angle-right" aria-hidden="true"></i>MTM Authority</a></li>
              <li><a href="/member"><i class="fa fa-angle-right" aria-hidden="true"></i>MTM Members</a></li>
              <li><a href="notice/notice-list"><i class="fa fa-angle-right" aria-hidden="true"></i> MTM Notices </a></li>
              <li><a href="/gallery"><i class="fa fa-angle-right" aria-hidden="true">
              </i>Gallery</a></li>
            </ul>
          </nav>
        </div>
        <div class="wow fadeInUp contItem contItem2">
          <h4>Contact Us</h4>
          <strong><span><i class="fa fa-phone" aria-hidden="true"></i></span>MTM President Number : 01726-488559</strong>
          <strong><span><i class="fa fa-phone" aria-hidden="true"></i></span>MTM Cashier Number : 01758-267795</strong>
          <strong><span><i class="fa fa-phone" aria-hidden="true"></i></span>MTM Number : 01779-055243</strong>
          <strong><span><i class="fa fa-envelope" aria-hidden="true"></i></span> arabic@mtm.com</strong>
          <p><span><i class="fa fa-map-marker" aria-hidden="true"></i>  </span>Gazipur, Dhaka, Bangladesh</p>
        </div>         
        <div class="wow fadeInUp contItem contItem3">
          <h4>Follow Us</h4>
          <div class="socialIcon">
            <a href="https://www.facebook.com/groups/Arabicmodel/"><i class="fa fa-facebook" aria-hidden="true"></i>এরাবিক মডেল একাডেমী</a>

            
          </div>
        </div>
      </div>
    </div>
  </section>
</main>      
 {% endblock %}
