{% extends 'theme/base.html' %}
{% block content %}
<section class="commonBody sineUp">
  <div class="container">
    <div class="commonForm">
    <h2>Sine Up</h2>
      <form action="">
        <div class="inputGroup">
          <span><i class="fa fa-user" aria-hidden="true"></i></span>
          <input type="text" required="" placeholder="Your Name:">
        </div>
        <div class="inputGroup">
          <span><i class="fa fa-university" aria-hidden="true"></i></span>
          <input type="text" required="" placeholder="Your Arabic Bacth Number: 1">
        </div>
        <div class="inputGroup">
          <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
          <input type="email" required="" placeholder="Your Email:">
        </div>
        <div class="inputGroup">
          <span><i class="fa fa-lock" aria-hidden="true"></i></span>
          <input type="password" required="" placeholder="Password:">
        </div>
        <div class="inputGroup">
          <span><i class="fa fa-lock" aria-hidden="true"></i></span>
          <input type="password" required="" placeholder="Confirm Password:">
        </div>
        <button type="submit">Sine Up</button>
      </form>
    </div>
  </div>
</section>
{% endblock %}