{% extends 'theme/base.html' %}
{% block content %}
<section class="sineIn commonBody">
  <div class="container">
    <h3></h3>
    <div class="commonForm">
      <h2>Login</h2>
      <form action="">
        <div class="inputGroup">
          <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
          <input type="email" required="" placeholder="Your Email:">
        </div>
        <div class="inputGroup">
          <span><i class="fa fa-lock" aria-hidden="true"></i></span>
          <input type="password" required="" placeholder="Password:">
        </div>
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
</section>
{% endblock %}